# Node
node_modules/
package-lock.json

# Environment variables
.env
Backend/.env
Frontend/.env

# Build folders
dist/
build/
Frontend/dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store

# Uploads
uploads/

# IDE
.vscode/
